/* * {
  border: 1px solid yellow;
} */

.main {
  margin: 0.5rem;
  /* border: 5px solid red; */
  min-width: 300px;
}

.About,
.TodoList,
.Footer {
  padding: 1%;
  text-align: center;
}

.About,
.Footer {
  min-height: 7vh;
}

.TodoList {
  min-height: 10vh;
}

.About,
.TodoList,
.Footer {
  background-color: #282c34;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-closed {
  display: none;
}

.about-opened {
  display: '';
}

#aboutSection {
  text-align: start;
  padding: 0.5rem;
}

.aboutComponents {
  padding: 1rem;
  /* background-color: rgb(210, 180, 140, 0.7); */
  max-width: 75%;
}

.todolistComponents {
  /* border: 5px solid red; */
  padding: 1rem;
  background-color: rgb(210, 180, 140, 0.7);
  max-width: 90%;
}

.pane {
  background-color: cadetblue;
  min-width: 40%;
  padding: 0.2rem;
  margin: 1rem;
}

.input {
  padding: 0.9rem;
  margin: 0.3rem;
  width: 85%;
  min-width: 40%;
  font-size: calc(10px + 2vmin);
}

.About button,
.buttons button {
  font-size: larger;
  background-color: tomato;
  opacity: 0.8;
  cursor: pointer;
  padding: 0.3rem;
  margin: 0.2rem;
}

.singleTodo {
  padding: 0.1rem;
}

.singleTodo label {
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleTodo p {
  word-wrap: break-word;
  width: 70%;
  text-align: start;
  margin-left: 1rem;
}

.checkboxButton {
  cursor: pointer;
}

.deleteTodoButton {
  font-size: medium;
  color: bisque;
  background-color: tomato;
  opacity: 0.8;
  cursor: pointer;
  padding: 0.3rem;
  margin: 0.2rem;
}

.buttons {
  padding: 0.5rem;
  margin: 0.2rem;
}

.status {
  padding: 0.5rem;
  margin: 0.2rem;
}

.portfolio-link {
  color: #61dafb;
}
