* {
  border: 1px solid yellow;
}

.About,
.TodoList,
.Footer {
  text-align: center;
}

.About,
.TodoList,
.Footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.About button,
.buttons button {
  font-size: larger;
  background-color: tomato;
}

.deleteTodoButton {
  font-size: medium;
  color: bisque;
  background-color: tomato;
}

.portfolio-link {
  color: #61dafb;
}
